html{
    font-size: 62.5%;
   
}
body{
    font: 1.6rem 'dosis', sans-serif;
    margin: 0;
}
h1, h2, p{
    margin: 0;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: #222;
    text-align: center;
}
*{
    box-sizing: border-box;
}

header{
    max-width: 40rem;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

p, h2{
    margin-top: 2rem;
    text-align: center;
}